<!doctype html>
<html lang="pt-br">
<head th:replacement="~{base :: head}">
<title>GX</title>
</head>

<body>
	<div class="container">

		<div class="card" th:each="imovel : ${imoveis}">

			<div class="card-body">

				<div class="row">

					<div class="col-12 col-sm-8 mb-3">
						<div class="row">

							<div class="col-md-5">
								<!-- Usando utitilitários (#numbers.formatCurrency(num)) do Thymeleaf para conversão para reais usando a localização do navegador -->
								<!-- Alteranmos para formatar apenas o número com pontos a cada 3 números e 2 casas decimais com vírgula -->
								<!-- Também fizemos uma validação caso o valor seja null -->
								Aluguel: <span th:if="${imovel.aluguel != null}"
									th:text="${'R$ ' + #numbers.formatDecimal(imovel.aluguel, 3, 'POINT', 2, 'COMMA')}"></span>
							</div>
							<div class="col-md-7">
								<!-- Nessa conversão -->
								Inquilino: <span th:if="${imovel.inquilino != null}"
									th:text="${imovel.inquilino}"></span>
							</div>
						</div>

						<div class="mt-3 mb-3">Imovel:</div>
						<div>
							Rua: <input class="form-control mb-3"
								th:value="${imovel.endereco.rua}" />
						</div>

						<div>
							CEP: <input class="form-control mb-3"
								th:value="${imovel.endereco.cep}" />
						</div>
					</div>

					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${imovel.linkImagem}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>