<!doctype html>
<html lang="pt-br">
<head th:replace="~{base :: head}">
<meta charset="UTF-8">
<title>GX</title>
</head>

<body class="bg-dark">

	<div th:replace="~{base :: header('Meus imóveis')}"></div>
	
	<div class="container">

		<div class="card mt-3" th:each="imovel : ${imoveis}">

			<div class="card-body">

				<div class="row">

					<div class="col-12 col-sm-8 mb-3">
						<div class="row">

							<div class="col-md-5">
								<!-- Usando utitilitários (#numbers.formatCurrency(num)) do Thymeleaf para conversão para reais usando a localização do navegador -->
								<!-- Alteranmos para formatar apenas o número com pontos a cada 3 números e 2 casas decimais com vírgula -->
								<!-- Também fizemos uma validação caso o valor seja null -->
								Aluguel: <b><span th:if="${imovel.aluguel != null}"
									th:text="${'R$ ' + #numbers.formatDecimal(imovel.aluguel, 3, 'POINT', 2, 'COMMA')}"></span></b>
							</div>
							<div class="col-md-7">
								<!-- Nessa conversão -->
								Inquilino: <b><span th:if="${imovel.inquilino != null}"
									th:text="${imovel.inquilino}"></span></b>
							</div>
						</div>

						<div class="mt-3 mb-3">Detalhes:</div>
						<div>
							Rua: <input class="form-control mb-3"
								th:value="${imovel.endereco.rua}" />
						</div>

						<div>
							Numero: <input class="form-control mb-3"
								th:value="${imovel.endereco.numero}" />
						</div>
						<div th:if="${imovel.endereco.cep != null}">
							CEP: <input class="form-control mb-3"
								th:value="${imovel.endereco.cep}" />
						</div>

						
					</div>

					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail mb-3" th:src="${imovel.linkImagem}" />
						</div>
						<div>
							<form method="post" th:action="@{'/imoveis/apagar/' + ${imovel.id}}">
								<button class="btn btn-danger" type="submit">Apagar</button>
							</form>
						</div>
						<div>
						
						<a th:href="@{'/imoveis/atualizar/' + ${imovel.id}}"><button class="btn btn-primary mt-3"  type="submit">Atualizar</button></a>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>